! URxvt
URxvt.scrollBar: false


! Fonts
URxvt*font: xft:hack-regular:size=14
! URxvt.letterSpace: -1


! Theme: Tempus Summer 
! Description: Dark theme with colours inspired by summer evenings by the sea (WCAG AA compliant) 
! Author: Protesilaos Stavrou (https://protesilaos.com)
! URxvt*background: #202c3d
! URxvt*foreground: #a0abae
! URxvt*cursorColor: #a0abae
! URxvt*cursorColor2: #202c3d
! URxvt*color0: #202c3d
! URxvt*color1: #f76f6e
!URxvt*color2: #4eac6d
!URxvt*color3: #af9a0a
!URxvt*color4: #609fda
!URxvt*color5: #cc84ad
!URxvt*color6: #3dab95
!URxvt*color7: #919ab9
!URxvt*color8: #352f49
!URxvt*color9: #eb7b4d
!URxvt*color10: #57ad47
!URxvt*color11: #bd951a
!URxvt*color12: #8196e8
!URxvt*color13: #c97ed7
!URxvt*color14: #2aa9b6
!URxvt*color15: #a0abae


!!Source http://github.com/altercation/solarized

!*background: #002b36
!*foreground: #657b83
!!*fading: 40
!*fadeColor: #002b36
!*cursorColor: #93a1a1
!*pointerColorBackground: #586e75
!*pointerColorForeground: #93a1a1

!! black dark/light
!*color0: #073642
!*color8: #002b36

!! red dark/light
!*color1: #dc322f
!*color9: #cb4b16

!! green dark/light
!*color2: #859900
!*color10: #586e75

!! yellow dark/light
!*color3: #b58900
!*color11: #657b83

!! blue dark/light
!*color4: #268bd2
!*color12: #839496

!! magenta dark/light
!*color5: #d33682
!*color13: #6c71c4

!! cyan dark/light
!*color6: #2aa198
!*color14: #93a1a1

!! white dark/light
!*color7: #eee8d5
!*color15: #fdf6e3


! Original theme https://github.com/nathanbuchar/atom-one-dark-terminal
*.foreground:    #ABB2BF
*.background:    #1E2127
*.cursorColor:   #5C6370
*.highlightColor:#3A3F4B

! Negro y gris
*.color0:        #1E2127
*.color8:        #5C6370
! Rojos
*.color1:        #E06C75
*.color9:        #E06C75
! Verde
*.color2:        #98C379
*.color10:       #98C379
! Amarillo
*.color3:        #D19A66
*.color11:       #D19A66
! Azul
*.color4:        #61AFEF
*.color12:       #61AFEF
! Magenta
*.color5:        #C678DD
*.color13:       #C678DD
! Cyan
*.color6:        #56B6C2
*.color14:       #56B6C2
! Blanco
*.color7:        #ABB2BF
*.color15:       #FFFFFF

